body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://64.media.tumblr.com/15a9d81e6c32fb648e37310a95b80e6b/tumblr_ppg0jgkFvp1xptjc0o1_1280.png');  
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


.tile-point {
  border: 1px solid; 
  border-image: linear-gradient(rgb(148, 250, 255) 50%, white 50%, rgb(247, 153, 226) 54%, rgb(149, 71, 250));
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: rgba(220, 250, 255, 0.144);
  color: black;
  height: 1rem;
  width: 1rem;
  display: flex; 
  align-items: center;
  justify-content: center;
}


.connection {
  background-image: linear-gradient(rgb(2, 112, 238), rgb(236, 51, 181));
  width: 100%;
}


